// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

//Vuetify
@import "~vuetify/dist/vuetify.min.css";

//Icon
@import "~@mdi/font/css/materialdesignicons.min.css";
@import "~material-design-icons-iconfont/dist/material-design-icons.css";

body{
    color: #666;
    font-family: "Open Sans",Arial,sans-serif !important;
    font-weight: 700 !important;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    line-height: 1.7em !important;
}
p{
    font-size: 16px !important;
    font-weight: 600 !important;
    line-height: 1.8em !important;
    color: rgb(75, 74, 74);
}
.section-title{
    font-family: 'Poppins',Helvetica,Arial,Lucida,sans-serif;
    font-weight: 600;
    font-size: 36px;
    line-height: 1.4em;
    text-align: center;
}
.parallax-overlay .v-parallax__content {
    background-color: rgba(0, 0, 0, 0.8);
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: absolute;
}